@{
    ViewBag.Title = "Home Page";
}


<p>
   @ViewBag.Message
    <br/>
    <img src="@ViewBag.ImageData"/>
</p>
@*<div>
    IMage:  <img src="@Url.Action("ImageGenerate", new {s = "asdf"})" />
    Image end
</div>
<div>
    QRCode: <img src="@Url.Action("CreateQrCodeImage",new{toEncode="ABCDEFGHIJKLMN"})"/>
</div>*@